<md-grid-list
        flex        
        md-cols-xs="1" md-cols-sm="1" md-cols-md="2"  md-cols-lg="{{$ctrl.customLgLayout()}}" md-cols-gt-lg="5"
        md-row-height-xs="5:1" md-row-height-sm="1:1" md-row-height-md="3:1" md-row-height-lg="8:1" md-row-height-gt-lg="5:1"
        md-gutter="5px" md-gutter-gt-sm="3px" >

    <md-grid-tile  class="green"
                  ng-repeat="product in $ctrl.filteredList.items | 
                              categoryFilter: $ctrl.selectedCategories |
                              distanceFilter: $ctrl.users : $ctrl.location : $ctrl.distance |
                              favoriteFilter: $ctrl.favoriteFilter"
                  md-colspan="1"
                  md-rowspan-xs="10"
                  md-rowspan-md="4"
                  md-rowspan-lg="10"
                  md-rowspan-gt-lg="10" 
                  >
        
        <md-card class="md-dense">
            <div class="md-card-image"  style="height:150px; background-image:url({{'http://localhost:8000/' + product.photos[0]}});background-size:cover;background-position:center center"></div>
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" src="{{ 'http://localhost:8000/' + product.seller.avatar}}"/>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{product.seller.nick}}</span>
                    <span class="md-subtitle">{{product.price}} €</span>
                </md-card-header-text>
            </md-card-header>
            
            <!-- <img ng-src="{{}"  alt="Washed Out" style="height:50"> -->
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{product.name}}</span>
                    <span class="md-subhead">{{product.category.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center" style="padding:0 10px 0 10px">
                <md-card-icon-actions>

                  <md-button 
                        class="md-mini" 
                        aria-label="Favorite"
                        ng-class="{'md-hue-2': $ctrl.isFavorite(product).favorite, 'md-fab': $ctrl.isFavorite(product).favorite, 'md-icon-button': !$ctrl.isFavorite(product).favorite }"
                        ng-click="$ctrl.toggleFav(product)">
                        <md-icon  class="material-icons "> favorite </md-icon>
                  </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                <md-icon class="material-icons"> share-arrow </md-icon>
              </md-button>
            </md-card-icon-actions>
            <md-button class="md-raised md-primary" ng-link="['ProductDetail', {id: product.id}]">Ver +</md-button>
          </md-card-actions>
          <md-card-content>
              <p ng-bind-html="product.description.substring(0,100)"></p>
              <large-tooltip 
                  text="{{product.description}}"
                  delay="2000">
              </large-tooltip>
          </md-card-content>
        </md-card>
    </md-grid-tile>



</md-grid-list>
