.hiddenElem {
    display:none;
}
._md-select-value > span {
    color: white;
}
md-card md-card-content {
    padding: 0 3px 0 10px;
}
md-card-actions {
    margin : 0;
}
md-card md-card-header {
    padding: 2px 5px 2px 5px;
}
md-card-actions.layout-align-start-center.layout-row{
    margin: 0;
}

md-card md-card-title {
    padding: 0 16px 0 16px;
}
.logo {
    font-family: 'Indie Flower', cursive;
    fomt-size: 2em;
}