<!-- <div layout-fill layout="column">
    <md-toolbar class="md-whiteframe-4dp" layout="row" layout-align="space-between center">
        <h3 class="md-toolbar-tools" flex>What A PoP</h3>
        <form ng-submit="$event.preventDefault()" class="md-toolbar-tools" flex="40" style="color:white">
          <md-icon class="material-icons md-48"> search </md-icon>
          <md-autocomplete
              flex
              md-selected-item="$ctrl.selectedItem"
              md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
              md-search-text="$ctrl.searchText"
              md-selected-item-change="$ctrl.selectedItemChange(item)"
              md-items="item in $ctrl.querySearch($ctrl.searchText)"
              md-item-text="item.name"
              md-min-length="4"
              placeholder="Buscar productos...">
            <md-item-template>
              <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
            </md-item-template>
          </md-autocomplete>
          
        </form>
        
        <span flex></span>
    </md-toolbar>
     <div  layout="row" flex>
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-2dp" flex layout="column">
            <md-list class="md-dense" flex>
              <md-subheader class="md-no-sticky">Categorías</md-subheader>
              <md-list-item>
                <p>Coches</p>
                <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
              </md-list-item>
              <md-list-item>
                <p>Motos</p>
                <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
              </md-list-item>
              <md-list-item>
                <p>Lavadoras</p>
                <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
              </md-list-item>
              <md-divider ></md-divider>
                  
            </md-list>
        </md-sidenav>
        <md-content flex id="content">
            <ng-outlet></ng-outlet>
        </md-content>
        
    </div>
</div>
 -->




<div layout-fill layout="column">
    <md-toolbar class="md-whiteframe-4dp" layout="row" layout-align="space-between center">
        <h3 class="md-toolbar-tools" flex>What A PoP</h3>
          <search-product flex="40"></search-product>
        <span flex></span>
    </md-toolbar>
     <div  layout="row" flex>
        <md-sidenav md-is-locked-open="$mdMedia('min-width: 333px')" class="md-whiteframe-2dp"  layout="column" flex="20">
            <md-list class="md-dense" >
              <md-subheader class="md-no-sticky">Categorías</md-subheader>
              <md-list-item ng-repeat="category in $ctrl.categories.items">
                <p>{{category.name}}</p>
                <md-checkbox class="md-secondary" 
                              ng-checked="category.selected"
                              ng-click="$ctrl.categoryFilterChanged(category)">
                </md-checkbox>
              </md-list-item>
              <md-divider ></md-divider>
                  
            </md-list>
        </md-sidenav>
    

      <md-content layout-padding flex>
        <ng-outlet></ng-outlet>
      </md-content>

</div>
